<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="page-head(title)">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>[[${title}]]</title>
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>


<body>
	
	<div th:fragment="footer" class="text-center m-3">
		<p>Shopme Control Panel - Copyright &copy; Shopme</p>
	</div>


	<th th:fragment="column_link(fieldName, columLabel, removeTag)" th:remove="${removeTag}">
	     <a class="text-white 44"
	     th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir='+ ${sortField == fieldName ? sortDir : reverseSortDir } + ${keyword != null ? '&keyword=' + keyword  : '' }}"
	     >
	      [[${columLabel}]]
	     </a>
	     
	     <span th:if="${sortField == fieldName}"
			  th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
		</span>
	
	
	</th>
	
	<div th:fragment="user_photos" th:remove="tag">
		<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
		<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" 
			style="width: 100px"/>
	</div>
	
	<div th:fragment="user_status" th:remove="tag">
		<a th:if="${user.enabled == true}"  class="fas fa-check-circle fa-2x icon-green" 
					   	th:href="@{'/users/' + ${user.id}+ '/enabled/false'}" title="Disable this user"></a>
						<a th:if="${user.enabled == false}"  class="fas fa-check-circle fa-2x icon-silver" 
						th:href="@{'/users/' + ${user.id}+ '/enabled/true'}" title="Enable this user"></a>
				&nbsp;
				 <a class="fas fa-edit fa-2x icon-green" 
					th:href="@{'/users/edit/' + ${user.id}}" 
					title="Edit this user"></a>
					&nbsp;
					<a class="fas fa-trash fa-2x icon-silver link-delete" 
					th:href="@{'/users/delete/' + ${user.id}}"
					th:entityId="${user.id}"
					title="Delete this user"></a>
	</div>
	<div th:fragment="user_action" th:remove="tag">
			<a class="fas fa-edit fa-2x icon-green" 
					th:href="@{'/users/edit/' + ${user.id}}" 
					title="Edit this user"></a>
					&nbsp;
			<a class="fas fa-trash fa-2x icon-silver link-delete" 
					th:href="@{'/users/delete/' + ${user.id}}"
					th:entityId="${user.id}"
					title="Delete this user"></a>
	</div>
	

	<div th:fragment="edit(entityName, editURL)" th:remove="tag">
		<a class="fas fa-edit fa-2x icon-green" 
			th:href="@{${editURL}}" 
			th:title="'Edit this ' +  ${entityName}"></a>
	</div>
	
	<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
	
		<th:block th:if="${visible}">
			<a class="fas fa-trash fa-2x icon-silver link-delete" 
				th:href="@{${deleteURL}}"
				th:entityId="${entityId}"
				th:title="'Delete this '+ ${entityName}"></a>
		</th:block>			
	
	</div>
	
	<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
		<a th:if="${enabled == true}"  class="fas fa-check-circle fa-2x icon-green" 
			th:href="@{${entityURL} + '/enabled/false'}" 
			th:title="'Disable this ' + ${entityName}"
			></a>
		
		<a th:if="${enabled == false}"  class="fas fa-check-circle fa-2x icon-silver" 
		   th:href="@{${entityURL} + '/enabled/true'}" 
		   th:title="'Enable this ' + ${entityName}"></a>
	</div>
	
	<div th:fragment="category_status" th:remove="tag">
	
	 	<a th:if="${cat.enabled == true}"  class="fas fa-check-circle fa-2x icon-green" 
					   	th:href="@{'/category/' + ${cat.id}+ '/enabled/false'}" title="Disable this category"></a>
	
		<a th:if="${cat.enabled == false}"  class="fas fa-check-circle fa-2x icon-silver" 
						th:href="@{'/category/' + ${cat.id}+ '/enabled/true'}" title="Enable this category"></a>
	
	</div>
	
	<div th:fragment="category_photos" th:remove="tag">
		<span th:if="${cat.image == null}" class="fas fa-portrait fa-3x icon-silver"></span>
		<img th:if="${cat.image != null}" th:src="@{${cat.imagePath}}" style="width: 100px;" class="img-fluid" />
	</div>
	
	
	<div th:fragment="category_actions" th:remove="tag">
	
	 	<a class="fas fa-edit fa-2x icon-green" 
					th:href="@{'/categories/edit/' + ${cat.id}}" 
					title="Edit this category"></a>
		&nbsp;
		<th:block th:if="${cat.hasChildren == false}">
			<a class="fas fa-trash fa-2x icon-silver link-delete" 
					th:href="@{'/categories/delete/' + ${cat.id}}"
					th:entityId="${cat.id}"
					title="Delete this category"></a>
		</th:block>
	
	</div>
	
	<div th:fragment="comfrim_model" th:remove="tag">
		<div class="modal fade text-center" id="comfirmModel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete Comfirmation</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="comfirmText"></span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Yes</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div>		
				</div>
			</div>
		</div>
	</div>
	
	<a th:fragment="page_link(moduleURL, pageNum, label)" 
	class="page-link" 
	th:href="@{${moduleURL} +  '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
	[[${label}]]</a> 
	
	<div th:fragment="pagination_user(moduleURL, entityName)" th:remove="tag">
		
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${entityName}]]  # [[${startCount}]] to # [[${endCount}]] of # [[${totalItems}]]</span>
		</div>
		
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No [[${entityName)}]] found</span>
		</div>
		
		<div th:if="${totalPage > 1 }">
		
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center flex-wrap">
			 	  <li th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}">
			   		<a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')">1</a>
			    </li>
			    <li th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}">
			    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
			    </li>
			    
			    <li th:class="${currentPage != i ? 'page-item ' : 'page-item active ' }" 
			    	th:each="i : ${#numbers.sequence(1, totalPage)}">
			    	<a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
			    	
			    </li>
			    
			    <li th:class="${currentPage < totalPage ? 'page-item': 'page-item disabled' }">
			    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
			    </li>
			    
			    <li th:class="${currentPage < totalPage ? 'page-item': 'page-item disabled'}">
			    	<a th:replace="fragments :: page_link(${moduleURL}, ${totalPage}, 'Last')"></a>
			    </li>
			  
			  </ul>
			  
			 </nav>
		
		
		</div>
	
	</div>
	
	<div class="wrapper-search"  th:fragment="search_form_and_message(moduleURL)" >
	
		<form th:action="@{${moduleURL}}" class="form-inline m-3">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			Filter:&nbsp;
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required="required" />
			&nbsp;&nbsp;
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-secondary" onclick="clearFilter()">
				<i class="fas fa-eraser"></i>
			</button>
		</form>
		
		<div th:if="${message != null }" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		
		

	</div>
	
	
	<div th:fragment="pagination_user2" th:remove="tag">
	
		<p>Test for Pagination</p>
	
	</div>

</body>
</html>